/*Général*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    font-family: "Julius Sans One", sans-serif;
}

/*police écriture*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Couleurs */
:root {
    --vert: #A0A48B;
    --white: #fff;
    --beige: #C99D78;
    --gris: #9B9F9F;
    --noir: #0000;
}

/*Body*/
body {
    background-image: url(../../img/fondEcran.png);
    background-size: cover;
    background-repeat: none;
}

/*Header*/
header {
    text-align: center;
}

#navbar {
    display: flex;
    justify-content: center;
    background-color: var(--beige);
    max-width: 40%;
    justify-content: space-around;
    align-items: center;
    margin-left: 30%;
    margin-top: 5%;
}

#navbar a {
    color: var(--white);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#Titre h1,
#Titre h2 {
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    /* Espacement entre les éléments */
    margin-top: 5%;
}

h1 {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 400%;
    margin: auto;

}

h2 {
    font-family: "Julius Sans One", sans-serif;

}

strong,
p {
    font-family: "Quicksand", sans-serif;
}

/*Main*/
#motAccueil,
#Bienvenue {
    font-family: "Homemade Apple", cursive;
    text-align: center;
    margin-bottom: 3%;
}

#Bienvenue {
    font-size: 200%;
    margin-top: 3%;
}

#motAccueil {
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin-left: 25%;
    margin-bottom: 15%;
    font-size: 150%;
}

#tasse,
#contact {
    text-align: center;
    margin: 3%;
}


.logo {
    max-width: 100px;
    max-height: 100px;
}

/*carte de visites*/

.carteDeVisite {
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin-left: 25%;
    text-align: center;
}

.carteDeVisite img{
    
}
.carteDeVisite p {
    text-align: center;
}

.carteDeVisite .logo{
    max-width: 7%;
    max-height: 7%;
}